.x{
    background-color: #400440;
    color: white;
    margin-top: 6px;
}
.card-title{
    margin-bottom: 10px;
}
.hg{
    margin-top: 14px;
    margin-left: 2px;
}
.cf{
    margin-top: 6px;
    margin-left: 2px;
}
.hd{
    margin-top: 6px;
    margin-left: 2px;
}