.xt{
    background-color: #400440 ;
    color: white;
}

.kk:hover {
    transform: none; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  
 
  .card:hover .card-title {
    color: white; 
  }
  
  .card:hover .card-body {
    background-color: #f5f5f5; 
  }

  .nb{
    margin-top: 8px;
    margin-left: 2px;
  }
  .nv{
    margin-top: 9px;
    margin-left: 2px;
  }
  .nc{
    margin-top: 8px;
    margin-left: 2px;
  }
  .nx{
    margin-left: 2px;
  }