.heading{
    margin-top: 15px;
    margin-bottom: 15px;
}
.buttons.divbuttons{
    width: 200px;
    margin-bottom: 15px;
}
.rt{
    margin-top: 20px;
    margin-left: 2px;
}
.ui{
    margin-top: 20px;
    margin-left: 2px;
}
.uo{
    margin-top :20px;
    margin-left: 2px;
}
.yu{
    margin-left: 2px;
}





